*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}

.container{
    background: black;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.logo{
    width:60px ;
    margin-top: 15px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
ul li a{
    text-decoration: none;
    list-style: none;
    margin: 10px;
    padding: 20px 40px;
    font-size: 1.1rem;
    font-weight: 500;
    color: aliceblue;
}
ul li a:hover{
    border-bottom: 1px solid white;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}
.content .text{
    color: aliceblue;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
}
.content .text p{
    font-size: 18px;
    margin:20px 0 ;
}
.content .text a{
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    padding: 8px 15px;
    border-radius: 20px;
}
.content .text a:hover{
    background-color: rgb(212, 177, 89);
}
.content .image{
    width: 30%;

}
.content .image img{
    width: 180px;
}
.icons{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.icons img{
    width: 40px;
    transition: 0.5s;
    cursor: pointer;
}
.icons img:hover{
    transform: scale(1.2);
}